<link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

<link href="todo_app-by-rails/app/assets/javascripts/bootstrap.min.js" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>


<center>
<form method="post" style="width:800px">
  <div class="row">
        <div class="col s24 m9">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Listing Blogs</content></span>

                <p id="notice"><%= notice %></p>

                <table>
                  <thead>
                    <tr style="color: black">
                      <th>Bolg name</th>
                      <th>Blog des</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody style="color: black">
                    <% @blogs.each do |blog| %>
                      <tr>
                        <td><%= blog.bolg_name %></td>
                        <td><%= blog.blog_des %></td>
                        <td><%= link_to 'Show', blog, class:"waves-effect waves-light btn" %></td>
                        <td><%= link_to 'Edit', edit_blog_path(blog),class:"waves-effect waves-light btn" %></td>
                        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"waves-effect red darken-3 btn"%></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

                <br>

                <%= link_to 'New Blog', new_blog_path,class:"waves-effect waves-light btn" %>

                <% if user_signed_in? %>
                            <%= link_to "sign out", destroy_user_session_path, :method => :delete ,class:"waves-effect red darken-3 btn" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </form>
    </center>
